.ex-list {
  width: 100%;
  &.grid {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 15px;
    .ex-preview {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 150px;
      box-shadow: 0 0 3px 1px #bbbbbb;
      padding: 1rem;
      border-radius: 0.2em;
      button {
        position: absolute;
        top: 1em;
        right: 1em;
        max-width: 2em;
      }
    }
    .table-headers {
      display: none;
    }
  }

  .ex-preview {
    transition: 0.3s ease-in-out;
    line-height: 2em;
    display: table-row;
    justify-content: space-between;
    .cell:first-child {
      cursor: pointer;
    }
    .cell:last-child {
      text-align: end;
    }
  }
  .table-headers {
    display: table-row;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1.2em;
    margin-bottom: 1em;
    .cell:last-child {
      text-align: end;
    }
  }
}
