.modal-container {
 background: $clr6;
 padding: 0 0.5em;
 box-shadow: $bs;
 // display: block;

 &:has(.user-options) {
  position: fixed;
  height: fit-content;
  width: fit-content;
  top: 65px;
  right: 20px;
 }
 .user-options {
  position: relative;
  & > * {
   margin: 0.2em 0;
  }
  &::after {
   content: "";
   position: absolute;
   top: -7px;
   background: white;
   transform: rotate(136deg);
   right: 0px;
   z-index: -1;
   height: 1em;
   width: 1em;
  }
 }
}
