* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  // background-color: $clr1;
  // color: $clr6;
}

html {
  font-family: "poppins-regular", sans-serif;
}

body {
  font-family: "poppins-regular", sans-serif;
  height: 100vh;
  font-size: rem(18px);
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  // background: $clr4;
}

::-webkit-scrollbar-thumb {
  // background-color: $clr2;
  // outline: 1px solid $clr2;
}
button {
  cursor: pointer;
  &.icon {
    background: none;
    border: none;
  }
}
input {
  &:focus {
  }
}
[data-title] {
  position: relative;
  &:hover {
    &:after {
      content: attr(data-title);

      position: absolute;
      font-size: 16px;
      background: #333;
      color: #fff;
      padding: 0.2em;
      border-radius: 0.2em;
      text-transform: capitalize;
      bottom: -27px;
      width: max-content;
      left: 4em;
    }
  }
  // &:hover {
  //
  // }
}
