@font-face {
    font-family: "poppins-light";
    src: url("./../../fonts/Poppins-Light.ttf");
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: "poppins-regular";
    src: url("./../../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "poppins-bold";
    src: url("@/assets/fonts/Poppins/semi-bold.ttf");
}
