// Colors
$clr1: #537fe7;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #333;

// box-shadow
$bs: 0 0 3px 0 #dedede;
// Breakpoints
$small-mobile-breakpoint: 360px;
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
